.divCard {
  
    width: 500px;
    border: solid 5px;
    border-radius: 15px;
    display: block;
    position: relative; 
    margin-bottom: 20px;
    margin-top: 60px;
    margin-right: 25px;
    opacity: 1;
 }
 .divCard:hover {  
     transform: translateY(-2px);
     transition: .2s;
 }
 .btnx {
     margin-top: 10px;
     margin-right: 35px;
     font-size: 30px;
     border: solid black 1px;
     border-radius: 10px;
     opacity: 0.8;
     position: inherit;
     left: 230px;
     width: 49px;
 }
 
 .btnx:hover {
     background-color: rgb(128, 121, 121);
     cursor: pointer;
 }
 
 .cityh3 {
     font-size: 60px;
     color:black;
     font-weight: bolder;
     position: relative;
     text-decoration: none;
 }
 .cityh3:hover {
    text-decoration: underline black;
 
    }
 
 
 
 .minh5 {
     font-size: 30px;
     font-weight: bold;
     color: black;
     position: relative;
     right: 130px;
     top: 45px;
 }
 
 .mindiv {
     position: relative;
     position: relative;
     right: 130px;
     top: 40px;
     font-size: 25px;
     color: black;
     font-weight: bold;
 }
 
 .maxh5 {
     font-size: 30px;
     font-weight: bold;
     color:black;
     position: relative;
     left: 130px;
     bottom: 35px;
 }
 
 .maxdiv {
     position: relative;
     left: 130px;
     bottom: 42px;
     font-size: 25px;
     color: black;
     font-weight: bold;
 }
 
 .weatherIcon{
 
     width: 200px;
     height: 200px;
 }